/* 全体 */
body {
	background-color: #EEEEEE; /* 背景色 */
	text-align: center; /* 中央寄せ */
	min-width: 900px; /* 最小幅 */
}

/* ヘッダー、ナビゲーションメニュー */
header {
	background-color: #595959;
	color: #ffffff;
	height: 130px;
	padding: 20px 0 5px;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

nav {
	background-color: #666666;
	padding: 10px 20px;
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: left;
}

header div {
	text-align: right;
	margin-top: 30px;
	margin-right: 20px;
}

/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
	color: #ffffff;
}

/* ヘッダー内見出し */
header h1 {
	font-size: 20pt;
	margin: 40px;
}

/* メイン */
main {
	background-color: #EEEEEE;
	min-height: 50px;
	padding: 0 90px;
}

/* テーブル */
table {
	width: 90%;
	min-width: 800px;
	background-color: white;
	margin: 30px auto;
	border-collapse: collapse;
	border: 1px solid #595959;
}

.titNo { width: 5%; }
.titTitle { width: 25%; } /* タイトル列を広げる */
.titCategory { width: 20%; } /* カテゴリー列を広げる */
.titClosingDate { width: 15%; } /* 期限列を広げる */
.titProgress { width: 10%; } /* 進捗列を広げる */
.titChange, .titDelete { width: 10%; } /* 変更・削除列を広げる */

/* 表のセル */
th {
	background-color: #666666;
	color: #ffffff;
	padding: 15px; /* より広いパディング */
	text-align: center;
	border: 1px solid #595959;
}

td {
	border: 1px solid #595959;
	padding: 10px; /* セルにパディング */
}

/* フォーム */
form {
	background-color: #ffffff;
	letter-spacing: 1.5px;
	width: 500px;
	height: 40vh;
	margin: 40px auto;
	border: 1px solid black;
}

form span, form input, form button {
	padding: 5px;
	margin: 10px;
}

form input {
	width: 330px;
	height: 30px;
	font-size: 16px;
	border: 1px solid black;
}

/* 送信ボタン */
button {
	width: 99%;
	height: 42px;
	background-color: #666666;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: #f1b2b2;
}
